body {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
   margin: auto;
   width: 100%;
   padding: 10px;
   text-align: center;

}

.input {
   display: block;
   width: 300px;
   margin: 10px auto;
   height: 30px;
   border-radius: 3px;
   border: none;

}

.input:focus-within {
   outline: 1px solid rgb(82, 179, 58);
}

input[type="submit"] {
   margin: 10px auto;
   padding: 8px 10px;
   width: 308px;
   background-color: rgb(35, 134, 101);
   border: none;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
}

.results {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   width: 100%;
   margin-top: 20px;



}

.box {
   background-color: red;
   color: white;
   padding: 10px;
   flex-basis: calc((100% / 3) - 34.5px);
   border-radius: 6px;
   font-size: 18px;


}
